:root {
/* Primary color */
    --md-primary-fg-color:        #1c2c5c;
    --md-primary-fg-color--light: #ECF0F1;
    --md-primary-fg-color--dark:  #2c3b53;

/* Accent color */
    --md-accent-fg-color:                #4A148C;
    --md-accent-fg-color--transparent:   #D1C4E9;
    --md-accent-bg-color:                #FFFFFF;
    --md-accent-bg-color--light:         #CFD8DC;
 
    .md-typeset h1, h2, h3 {
        font-weight: bolder;
    }

    .md-typeset h2 {
        padding-bottom: 10px;
    }

    .md-typeset p {
        text-align: justify;
    }

    .mdx-hero__content p{
        text-align: left;
    }

    .highlight span.filename {
        background-color: #1c2c5c;
        color:#FFFFFF;
    }

    .md-typeset .admonition.note {
        border-color: #29B6F6;
    }

    .md-typeset .admonition.info {
        border-color: #01579B;
    }

    .md-typeset .admonition.tip {
        border-color: #00897B;
    }

    .md-typeset .admonition.success {
        border-color: #4CAF50;
    }

    .md-typeset .admonition.question {
        border-color: #81C784;
    }

    .md-typeset .admonition.warning {
        border-color: #FFEE58;
    }

    .md-typeset .admonition.failure {
        border-color: #F44336;
    }

    .md-typeset .admonition.quote {
        border-color: #B0BEC5;
    }

    .md-typeset .admonition {
        border: 0em;
        border-left: 0.40em solid #1c2c5c;
        border-radius: 0%;
    }

}